<<<<<<< HEAD
@font-face {
	font-family: 'Deutsch Gothic';
	src: url('DeutschGothic.woff2') format('woff2'),
			url('DeutschGothic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
=======
@font-face {
	font-family: 'Deutsch Gothic';
	src: url('DeutschGothic.woff2') format('woff2'),
			url('DeutschGothic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
>>>>>>> 91f02e22980dd7dc9338a207f427d607117b1d1e
}