

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

body{
  font-family: 'JetBrains Mono', Arial, sans-serif !important;
 
  
}


.carousel-control-prev-icon {
  margin-left: -50px; 
}

.carousel-control-next-icon {
  margin-right: -50px; 
}

.container{
    width: 1120px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items:center ;

  }
