
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

.responsive-img {
    width: 98px;
    height: 117px;
    
   
  }

.mjolnir-pic{
    max-width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;  
    /* background-color: blueviolet; */
}

.container-Home{
    width: 1120px;
    margin: 0 0  4vw 0;
    
    
}


  
  .responsive-img:hover {
    transition: transform 0.4s ease;
    transform: scale(0.8);
  }



.button-style {
    color: white !important;
    background-color: transparent !important;
    border: none !important;
    font-family: 'JetBrains Mono', Arial, sans-serif !important;

}


.button-style:hover {
    color: rgb(124, 0, 0) !important;
    background-color: transparent !important;
    
}
.button-style-main{
  font-family: "UnifrakturCook", cursive !important; 
  font-weight: 700;
  font-style: normal;
  color: white !important;
}

.button-style-main:hover {
  color: rgb(124, 0, 0) !important;
  background-color: transparent !important;
  transition: transform 0.6s ease;
  transform: scale(0.8);
  

}



.container-Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mjolnir-pic {
  margin-bottom: 20px;
}

.button-group-header {
  display: flex;
  align-items: center;
}

.button-style-main {
  color: white;
}

.button-style {
  color: white;
}


/* Ñ‹ */
